<nav class="navbar">
  <mat-toolbar color="primary" class="navbar-primary">
    <div mat-card-avatar class="navbar-logo"></div>
    <h1 class="mat-h1" style="color: white">Friends Network</h1>
    <button mat-raised-button name="addFriends" class="navbar-add__button" (click)="openDialog()">
      <mat-icon>group_add</mat-icon>
      Add Friends
    </button>
  </mat-toolbar>
</nav>

<div *ngIf="network | async as network">
  <header class="page-header">
    <span> Members in the network: {{ network.users.length }}</span>
  </header>
  <main>
    <app-network-chart
      [nodes]="network.users"
      [links]="network.links"
    ></app-network-chart>
  </main>
</div>
