.navbar {
  box-shadow: 0 3px 5px -1px #00000033, 0 6px 10px 0 #00000024,
    0 1px 18px 0 #0000001f;

  &-logo {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 0H0v36h36V0zM15.126 2H2v13.126c.367.094.714.24 1.032.428L15.554 3.032c-.188-.318-.334-.665-.428-1.032zM18 4.874V18H4.874c-.094-.367-.24-.714-.428-1.032L16.968 4.446c.318.188.665.334 1.032.428zM22.874 2h11.712L20 16.586V4.874c1.406-.362 2.512-1.468 2.874-2.874zm10.252 18H20v13.126c.367.094.714.24 1.032.428l12.522-12.522c-.188-.318-.334-.665-.428-1.032zM36 22.874V36H22.874c-.094-.367-.24-.714-.428-1.032l12.522-12.522c.318.188.665.334 1.032.428zm0-7.748V3.414L21.414 18h11.712c.362-1.406 1.468-2.512 2.874-2.874zm-18 18V21.414L3.414 36h11.712c.362-1.406 1.468-2.512 2.874-2.874zM4.874 20h11.712L2 34.586V22.874c1.406-.362 2.512-1.468 2.874-2.874z' fill='%237b1fa2' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
    background-attachment: fixed;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  }

  &-add__button {
    position: absolute;
    right: 20px;
  }
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  background-color:rgba(0, 0, 0, 0.4);
  color: #ffffff;
  align-items:center;
  padding: 0 16px;

  span {
    position: absolute;
    right: 25px;
    font-size: 18px;
  }
}
