<form [formGroup]="group" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <section
        *ngFor="let userForm of userFormGroup; let idx = index"
      >
        <article class="article">
          <app-friend-form
            [baseForm]="userForm"
            [formIndex]="idx"
            (removeFormEvt)="removeForm($event)"
          ></app-friend-form>
        </article>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-flat-button (click)="appendForm()">
        <mat-icon class="icon">add_circle_outline</mat-icon>
        Add another friend
      </button>
      <button mat-stroked-button>Cancel</button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
