<form>
  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <section
        *ngFor="let userForm of userFormGroup; let idx = index"
      >
        <article class="article">
          <app-friend-form
            [baseForm]="userForm"
            [formIndex]="idx"
          ></app-friend-form>
        </article>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button>Cancel</button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
