<form [formGroup]="group" (ngSubmit)="onSubmit()">
  <mat-card class="c-card">
    <mat-card-header class="c-card__header">
      <mat-card-title class="c-card__title">My Network</mat-card-title>
    </mat-card-header>
    <mat-card-content class="c-card__body">
      <section
        class="c-card__form"
        *ngFor="let userForm of userFormGroup; let idx = index"
      >
        <article class="article">
          <app-base-form
            [baseForm]="userForm"
            [formIndex]="idx"
            (removeFormEvt)="removeFriendForm($event)"
          ></app-base-form>
        </article>
      </section>
    </mat-card-content>
    <mat-card-actions class="c-card__footer">
      <button type="button" mat-flat-button (click)="appendFriendForm()">
        <mat-icon class="icon">add_circle_outline</mat-icon>
        Add another friend
      </button>

      <div class="spacer"></div>
      <button mat-stroked-button>Cancel</button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
