<form [formGroup]="baseForm">
    <h3>My details</h3>
    <button
    *ngIf="formIndex > 1"
      type="button"
      mat-icon-button
      (click)="removeForm(formIndex)"
    >
      <mat-icon class="icon">close</mat-icon>
    </button>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <input
          matInput
          [name]="'name-' + formIndex"
          placeholder="Name"
          formControlName="name"
        />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <input
          matInput
          [name]="'age-' + formIndex"
          type="number"
          placeholder="Age"
          formControlName="age"
        />
        <span matSuffix>Years</span>
        <mat-error> Age is required</mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <input
          matInput
          [name]="'weight-' + formIndex"
          type="number"
          placeholder="Weight"
          formControlName="weight"
        />
      </mat-form-field>
    </div>
  </div>
</form>
